body {
  margin: 0;
  text-align: center;
  background-color: #e5e5e5;
  color: black;
  font-size: 1.1em;
  line-height: 1.5;
  font-family: Arial;
  font-weight: bold;
}
/*scrollbar*/
body::-webkit-scrollbar{
  width: 0.25rem;
}
body::-webkit-scrollbar-track{
  background-color: #d7fffd;
}
body::-webkit-scrollbar-thumb{
  background-color: #0f4c81;
}
img{
  display: block;
  width: 100%;
  height: auto;
}
h1, h2, h3{
  margin: 0;
  padding: 1em 0;
}
p {
  margin: 0;
  padding: 1em 1em;
}
/*button style and animation*/
.btn{
  /*style*/
  text-decoration: none;
  background-color: #162447;
  color: white;
  border: 2px solid #1f4068;
  padding: 1em 2em;
  border-radius: 5px;
  /*animation*/
  position: relative;
  animation-name: button;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 3s;
  left: -1000px;
  /*position*/
  display: inline-block;
  margin-top: 2em;
}
@keyframes button {
  0% {left: -1000px}
  90% {left: 15px;}
  100% {left: 0;}
}
.btn:hover{
  background-color: #1f4068;
  border: 4px solid #162447;
}
/*header*/
#showcase {
  min-height: 450px;
}
.bg-image{
  position: absolute;
  background-image: url(https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg?cs=srgb&dl=blue-and-silver-stetoscope-40568.jpg&fm=jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 450px;
  opacity: 0.3;
  z-index: -1;
}
/*header animation*/
.header-title{
  position: relative;
  animation-name: title;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
@keyframes title {
  0% {top: -1000px;}
  100% {top: 0;}
}
.header-content{
  padding: 0 2em;
  position: relative;
  animation-name: header;
  animation-duration: 2s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  left: -1000px;
}
@keyframes header {
  0% {left: -1000px;}
  100% {left: 0;}
}
/* Section A */
#section-a{
  padding-bottom: 4em;
}
/*Section B*/
#section-b{
  padding: 2em 1em 1em;
  background-color: #323232;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
li{
  margin-bottom: 1em;
  background-color: #fff;
  border-radius: 5px;
}
.card-content{
  padding: 1.5em;
}
#section-c {
  padding: 2em;
}
footer{
  background-color: #2a7886;
  color: #f1f3f4;
}
/*main animation*/
#main{
  opacity: 0;
  animation-name: main;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 3.5s;
}
@keyframes main {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
/*media query*/
@media (min-width: 768px) {
  .grid{
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto,25em)) 1fr;
  }


  #section-a .content-text p header{
    padding-top: 0;
  }

  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }



  #section-b ul {
    display: flex;
    justify-content: space-around;
  }

  #section-b li {
    width: 31%;
  }

}
